openapi: 3.2.0
info:
  title: Qgiv Custom Amounts API
  description: The Qgiv API is a token-authenticated, form-scoped service for reading and writing data behind Qgiv (now Bloomerang Fundraising) donation forms, events, and peer-to-peer campaigns.
  version: '1.0'
  contact:
    name: Qgiv (Bloomerang Fundraising)
    url: https://www.qgiv.com/api/
  license:
    name: Proprietary
    url: https://www.qgiv.com/terms-of-service
servers:
- url: https://secure.qgiv.com/admin/api
  description: Qgiv production API
security:
- tokenAuth: []
tags:
- name: Custom Amounts
  description: Confirmed. Manage preset suggested-giving amounts.
paths:
  /amounts/list:
    get:
      operationId: listCustomAmounts
      tags:
      - Custom Amounts
      summary: List all custom amounts (Confirmed)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenOnlyRequest'
      responses:
        '200':
          description: A list of custom amounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  amounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomAmount'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /amounts/create:
    post:
      operationId: createCustomAmount
      tags:
      - Custom Amounts
      summary: Create custom amount(s) (Confirmed)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PackageRequest'
      responses:
        '200':
          description: The created custom amount(s).
          content:
            application/json:
              schema:
                type: object
                properties:
                  amounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomAmount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /amounts/{id}:
    get:
      operationId: getCustomAmount
      tags:
      - Custom Amounts
      summary: Get a single custom amount (Confirmed)
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenOnlyRequest'
      responses:
        '200':
          description: The requested custom amount.
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomAmount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: updateCustomAmount
      tags:
      - Custom Amounts
      summary: Update a custom amount (Confirmed)
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PackageRequest'
      responses:
        '200':
          description: The updated custom amount.
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    $ref: '#/components/schemas/CustomAmount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  responses:
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    CustomAmount:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
        title:
          type: string
        description:
          type: string
        state:
          type: string
        sort:
          type: string
    PackageRequest:
      type: object
      required:
      - token
      - package
      properties:
        token:
          type: string
          description: API token bound to the form(s) being accessed.
        package:
          type: string
          description: XML- or JSON-formatted input payload for the write operation.
    TokenOnlyRequest:
      type: object
      required:
      - token
      properties:
        token:
          type: string
          description: API token bound to the form(s) being accessed.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: query
      name: token
      description: Documented as a POST body field (`token=<API token>`), not a header or querystring value. Modeled here as an apiKey scheme because OpenAPI 3.0 has no first-class "form field" security type. The token is scoped to one or more specific forms in the Qgiv admin console.
